.bgSignupInfo8{
    display: flex;
    background-color: #F4F4FB;
    font-family: 'Montserrat', sans-serif;
}
.dailyQuestion6{
    display: flex;
    height: 49vw;
    font-size: 3vw;
    width: 48% ; 
    justify-content: center;
    align-items: center;
}
.answer8{
    width: 48%;
    background-color: #50E3C2;
    font-size: 2vw;
}
.line81{
    margin-top: 9vw;
    margin-left: 10vw;
}
.line82{
    margin-top: 1vw;
    margin-left: 10vw;
}
.line83{
    margin-top: 1vw;
    margin-left: 10vw;
}
.line84{
    margin-top: 1vw;
    margin-left: 10vw;
 
}
.line85{
    margin-top: 1vw;
    margin-left: 10vw;

}
.line86{
    margin-top: 1vw;
    margin-left: 10vw;
}
.line87{
    margin-top: 1vw;
    margin-left: 10vw;
}
.line88{
    margin-top: 1vw;
    margin-left: 10vw;
}
.iconNext8{
    display: flex;
    background-color: #50E3C2;
    justify-content: center;
    align-items: center;
}
.INext8{
    width: 4vw;
}
.next8{
    border: none;
    background-color: #50E3C2;
    
}